<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite1" verbose="2">

	<test name="Test1" >
		 <groups>
			<run>
				<!-- <include name="Regression"/> -->
				
					<include name="Sanity"/>
					<exclude name="Smoke"/>
				
			</run>
		</groups> 
		<classes>
		    <class name="My_Project.Test_test1" />
			<class name="My_Project.Test_test" />

		</classes>
	</test>
</suite>
